.App {
  text-align: center;
}

.App-header {
  background-color: var(--bg-header-footer); 
  color: var(--text-header-footer); 
}

h1 {
  font-size: 36px;
  color: var(--text-primary); 
}

.skills-section, .projects-section {
  margin: 20px 0;
  color: var(--text-primary); 
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 18px;
  color: var(--text-primary); 
}

footer {
  background-color: var(--bg-header-footer); 
  color: var(--text-header-footer); 
}