:root {
  /* Tema base */
  --background-color: #ffffff;
  --text-color: #000000;

  /* Sidebar */
  --sidebar-bg: #f4f4f4;
  --accent-color: #007bff;

  /* Card */
  --card-bg-color: #f8f9fa;
  --card-hover-bg: #e0e0e0;

  /* Iconos */
  --icon-color: #333;
}

[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #c7c7c7;

  --sidebar-bg: #1e1e1e;
  --accent-color: #167586;

  --card-bg-color: #2c2c2c;
  --card-hover-bg: #3a3a3a;

  --icon-color: #ffffff;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;

  --sidebar-bg: #f4f4f4;
  --accent-color: rgb(0, 123, 255);

  --card-bg-color: #f8f9fa;
  --card-hover-bg: #e0e0e0;

  --icon-color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app-container {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  height: 100vh;
  overflow: hidden;

}

.content-wrapper {
  margin-left: 0;
  padding: 1rem;
}

.main-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}



.main-section {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.fade-section {
  animation: fadeInFromBack 0.8s ease forwards;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.skills-card {
  background-color: var(--card-bg-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
}

.skills-card:hover {
  background-color: var(background-color) !important;
}

.skill-icon svg {
  color: var(--icon-color);
  transition: color 0.3s ease;
}


@keyframes fadeInFromBack {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(50px);
    z-index: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 1;
  }
}


