.pincelada {
    position: absolute;
    width: 80px; /* Aumenta el tamaño de la pincelada */
    height: 80px; /* Aumenta el tamaño de la pincelada */
    background-image: url('../assets/MANCHA.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    pointer-events: none;
    animation: fadeOut 0.5s ease-in-out;
    transform: translate(-50%, -50%); /* Centra la pincelada en el cursor */
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }